body{
    background-color: #f0e0ce;
}

#header{
    background-color: #eb9d44;
    
}

#contactforms{
    display: flex;
    
}
.weblogo{
    height: 65px;
}

.contact-link{
    color: black;
    
}

.contact-link:hover{
    color:rgb(167, 167, 167);
}

.nav-link{
    font-family: 'Graduate', cursive;
    font-weight: 700;
}

.displaytitle{
    font-family: 'Merienda One', cursive;
    text-align: center;
    padding-top: 3%;
    color: #884c08;
}