*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #eae1f3;
}
h1{
  font-size: 36px;
}
.card{
  margin:3%;
  border-radius: 0;
  box-shadow: 5px 5px 15px #57068c;
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}
.card:hover{
  background: rgb(151, 151, 151);
  border-radius: 5px;
  border:none;
  box-shadow: 5px 5px 10px #9E9E9E;
}
.card:hover h3, .card:hover p, .card:hover h5{
  color: #fff;
}

.nav-link{
    font-family: 'Graduate', cursive;
    font-weight: 700;
}

.contact-link{
    color: black;
    
}
.contact-link:hover{
    color:rgb(167, 167, 167);
}
.weblogo{
    height: 65px;
}
.displayheading{
  font-family: 'Merienda One', cursive;
  color: #24023a;
}
.description{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  color: #24023a;
}
.subjecthead {
  font-family: 'Graduate', cursive;
  font-weight: 700;
}
.degreehead {
  font-family: 'Graduate', cursive;
  font-weight: 700;
}
#header{
    background-color: #57068c;
    
}

@media(max-width:1080px){
    .title-image{
        position:relative;
        right: 80px;
        transform: rotate(0deg);
}
}

#footer{
    text-align: center;
    font-family: 'Playball', cursive;
    font-size: larger;
    color: #0d5757;
}
