body{
    background-color: #e1f2f3;
}
.weblogo{
    height: 65px;
}

.mydp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 45px 0;
    height: 250px;
}
.contact-link{
    color: black;
    
}
.contact-link:hover{
    color:rgb(167, 167, 167);
}
.nav-link{
    font-family: 'Graduate', cursive;
    font-weight: 700;
}
.displayname{
    font-family: 'Merienda One', cursive;
    text-align: center;
    padding-top: 3%;
    color: #083a3a;
}
.description{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    padding-top: 2%;
    color: #083a3a;
    text-align: center;
    
    
}
.subjects{
    font-family: 'Signika', sans-serif;
    font-weight: 900;
    color: #083a3a;

}
.typing{
    position: relative;
    margin-left: 10px;
    color: #083a3a;
    font-family: 'Courgette', cursive;
    
}
.typing::after{
    content: "";
    position:absolute;
    right:-4px;
    width:1px;
    height:45px;
    border-right:2px solid #083a3a;
    animation: blink 0.7s infinite ease;
}
@keyframes blink{
0%{
    opacity:0;
}
100%{
    opacity: 1;
}
}
.intro{
    display: flex;
    width: 500px;
}
#header{
    background-color: #52d6d6;
    
}
@media(max-width:1080px){
    .title-image{
        position:relative;
        right: 80px;
        transform: rotate(0deg);
}
}
#footer{
    padding-top: 2%;
    text-align: center;
    font-family: 'Playball', cursive;
    font-size: larger;
    color: #0d5757;
}